# Python
__pycache__/
*.py[cod]
*.so
.env

Virtual environment
venv/
.venv/
env/

IDE / Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Hasil eksperimen besar (simpan di Google Drive, bukan repo)
*.csv
*.pkl
data/large_*

